<% include layout %>
<h2 class="text-center">Panel de Control - Administrador</h2>
<div class="card-deck">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Gestión de Usuarios</h5>
      <p class="card-text">Administra los usuarios del sistema.</p>
      <a href="/users" class="btn btn-primary">Ir a Gestión de Usuarios</a>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Gestión de Asignaturas</h5>
      <p class="card-text">Administra las asignaturas disponibles.</p>
      <a href="/asignaturas" class="btn btn-primary">Ir a Gestión de Asignaturas</a>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Gestión de Estudios</h5>
      <p class="card-text">Administra los estudios relacionados con las asignaturas.</p>
      <a href="/estudios" class="btn btn-primary">Ir a Gestión de Estudios</a>
    </div>
  </div>
</div>


