<% include layout %>
<h2 class="text-center">Bienvenido a ESI App Store</h2>
<p class="text-center">Gestiona el software utilizado en las prácticas de laboratorio de las distintas asignaturas de la Escuela Superior de Informática.</p>

